DATABASE_URL=postgresql://sippolusi:sippolusi@postgres:5432/sippolusi
MLFLOW_TRACKING_URI=http://model_registry:5000
MLFLOW_BACKEND_STORE_URI=postgresql://sippolusi:sippolusi@postgres:5432/sippolusi?options=-csearch_path=mlflow
MLFLOW_ARTIFACT_ROOT=s3://mlflow/artifacts
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
